<link rel="stylesheet" href="{$smarty.const.CSS_URL}left-menu.css">
<script src="{$smarty.const.JS_URL}left-menu.js"></script>
{literal}
<style>
    .title span{
        color:#fff
    }
</style>
{/literal}
<div class="banner" id="b03">
    <ul style="background-color: #fbfbfb">
        {foreach $other['bannerImg'] as $k=>$v}
        <li><img src="../../{$v.img_url}" style="max-width:100%;overflow:hidden;" alt=""
                 border="0"></li>
        {/foreach}
    </ul>
</div>

<div class="main">
    <div class="container">
        <div class="dkpt container">
            <div class="dkpt_r" style="float: left;border:0px; width: 258px !important; padding: 0">
                <div class="content">
                    <!-- .list以下（包含.list）以下为本插件内容，需要的同学可复制里面部分即可。 -->
                    <div class="list">
                        <ul>
                            {foreach $caseList as $k=>$v}
                            <li>
                                <p class="title">{$k}</p>
                                <ul class='list-se'>
                                    <p class="title">{$k}</p>
                                    {foreach $v as $kk=>$vv}
                                    <li><p>{$kk}</p></li>
                                    <li style="display: none"><p>{$vv}</p></li>
                                    {/foreach}
                                </ul>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="dkpt_l" style="float: right;border:0px">
                <div class="dkpt_l_t">
                    <span style="float: none; font-size: 20px" id="title">高效•快捷•安全</span>
                </div>
                <div id="content" style="margin-top: 15px">fsafsdafsdfds</div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function (e) {
        $('#b03').unslider({
            dots: true
        });

        $('.list ul li p').clickdown();
        $('.list-se p[class=title]').clickup();
        $('.list>ul>li').ad();


        $('#title').html(sessionStorage.getItem('nei-tit'));
        $('#content').html(sessionStorage.getItem('nei-con'));
        //点击左侧菜单的时候
        $('.list-se li').click(function(){
            $('#title').html($(this).find('p').html());
            $('#content').html($(this).next().html());
            sessionStorage.setItem('nei-tit',$(this).find('p').html());
            sessionStorage.setItem('nei-con',$(this).next().html());
        });

    });
</script>