<link rel="stylesheet" href="{$smarty.const.CSS_URL}left-menu.css">
<script src="{$smarty.const.JS_URL}left-menu.js"></script>
{literal}
<style>
    .title span{
        color:#fff
    }
</style>
{/literal}
<div class="banner" id="b03">
    <ul style="background-color: #fbfbfb">
        {foreach $other['bannerImg'] as $k=>$v}
        <li><img src="../../{$v.img_url}" style="max-width:100%;overflow:hidden;" alt=""
                 border="0"></li>
        {/foreach}
    </ul>
</div>

<div class="main">
    <div class="container">
        <div class="dkpt container">
            <div class="dkpt_r" style="float: left;border:0px; width: 258px !important; padding: 0">
                <div class="content">
                    <!-- .list以下（包含.list）以下为本插件内容，需要的同学可复制里面部分即可。 -->
                    <div class="list">
                        <ul>
                            {foreach $aboutList as $k=>$v}
                            <li>
                                <p class="about-title">{$v.title}</p>
                            </li>
                            <li style="display: none">{$v.content}</li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="dkpt_l" style="float: right;border:0px; margin-bottom: 30px">

                <div class="nei" style="padding: 0">
                    <div class="nav ">
                        <span class="ico"></span>
                        <span style="float: none; font-size: 18px;padding-left:18px;color:#333" id="title">高效•快捷•安全</span>
                    </div>
                </div>
                <div id="content" style="margin-top: 4px">暂无…</div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    <div id="map" style="background-color: #f3f3f3; display: none">
            <iframe id="content_frame" width="100%" height="430" scrolling="no" src="http://www.yunwei.com/index.php/Home/about/map" frameborder="0"></iframe>
        </div>
</div>

<script>
    $(document).ready(function (e) {
        $('#b03').unslider({
            dots: true
        });

        $('.list ul li p').clickdown();
        $('.list-se p[class=title]').clickup();
        $('.list>ul>li').ad();

        $('.list li').eq(sessionStorage.getItem('about-index')).find('p').css('border-bottom','2px solid #ac6a00');
        //点击左侧菜单的时候
        $('.list li').click(function(){
            $(this).find('p').css('border-bottom','2px solid #ac6a00');
            $(this).siblings().find('.about-title').css('border-bottom','2px solid #dcdcdc')

            $('#title').html($(this).find('p').html());
            $('#content').html($(this).next().html());
            sessionStorage.setItem('about-tit',$(this).find('p').html());
            sessionStorage.setItem('about-con',$(this).next().html());
            sessionStorage.setItem('about-index',$(this).index());
        });

        //默认显示
        if(sessionStorage.getItem('about-tit')){
            $('#title').html(sessionStorage.getItem('about-tit'));
        }else{
            $('#title').html($('.list').find('li').eq(0).find('p').html());
        }
        if(sessionStorage.getItem('about-con')){
            $('#content').html(sessionStorage.getItem('about-con'));
        }else{
            $('#content').html($('.list').find('li').eq(1).html());
        }

        //地图
        $('.list .about-title:last').click(function(){
            $('#map').show();
        });
        $('.list .about-title:not(":last")').click(function(){
            $('#map').hide();
        });


    });
</script>