<div class="col-xs-12">
    <div class="box">

        <div class="box-header" style="/*padding: 27px !important;*/">
            <button type="button" class="btn btn-success addItem"><i class="fa fa-plus"></i> 新增</button>
            <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 200px;">
                    <input type="text" name="title" class="form-control pull-right"
                           placeholder="请输入文章标题" style="font-size: 14px">
                    <div class="input-group-btn" id="search" href="{$smarty.const.__MODULE__}/article/showlist">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="box-body table-responsive no-padding" id="contentinfo">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>ID</th>
                    <th>分类名称</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                {foreach $info as $k => $v}
                <tr>
                    <td>{$v@iteration}</td>
                    <td>{$v.category_name}</td>
                    <td>{$v.createtime}</td>
                    <td class="manager">
                        <button class="btn bg-maroon btn-flat btn-sm addItem" itemID="{$v.id}">编辑
                        </button>
                        <button class="btn btn-danger btn-flat btn-sm deleteItem" itemID="{$v.id}">删除
                        </button>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
            <div class="admin-table-page">
                {$pagelist}
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {

        //点击新增、编辑
        $('.addItem').unbind('click').click(function () {
            var itemID = $(this).attr('itemID');
            if (itemID) {
                localStorage.setItem('address', '../category/add/id/' + itemID);//子页面地址
                $('#content').load("../category/add/id/" + itemID);
                return false;
            }
            localStorage.setItem('address', '../category/add');//子页面地址
            $('#content').load("../category/add");
        })

    });
</script>